{% extends 'base.html.twig' %}

{% block title %}Hello AdminRegistController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/xearts/MySymfonyProjectsPractice/sym4-TaskApp/src/Controller/AdminMemberRegistController.php'|file_link(0) }}">src/Controller/AdminMemberRegistController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/xearts/MySymfonyProjectsPractice/sym4-TaskApp/templates/admin/member-regist.html.twig'|file_link(0) }}">templates/admin/member-regist.html.twig</a></code></li>
    </ul>
    <p>MemberRegistPage</p>
    <div class="container">
    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.famillyname) }}
        {{ form_row(form.name) }}
        {{ form_row(form.password) }}
        {{ form_row(form.email) }}
        {{ form_row(form.github) }}
        {{ form_row(form.save) }}

        <div style="display: none;">
            {#<input type="datetime" value="{{ CreatedAt.date }}">#}
            {{ form_row(form.created_at) }}
        </div>
        <div style="display: none;">
            {#<input type="datetime" value="">#}
            {{ form_row(form.updated_at) }}

            {#{{ UpdatedAt }}#}
        </div>
        {{ form_rest(form) }}

        {#{{ form_widget(form) }}#}
    {{ form_end(form) }}
    </div>
</div>
{% endblock %}
