{% extends 'base.html.twig' %}

{% block title %}Hello AdminRegistController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/xearts/MySymfonyProjectsPractice/sym4-TaskApp/src/Controller/AdminMemberRegistController.php'|file_link(0) }}">src/Controller/AdminMemberRegistController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/xearts/MySymfonyProjectsPractice/sym4-TaskApp/templates/admin/member-show.html.twig'|file_link(0) }}">templates/admin/member-show.html.twig</a></code></li>
    </ul>
    <p>MemberShowPage</p>

    <div>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.id) }}
        {{ form_row(form.serch,{"attr":{"class":"btn btn-primary"}}) }}
        <div style="display: none;">
            {{ form_row(form.created_at) }}
        </div>
        <div style="display: none;">
            {{ form_row(form.updated_at) }}
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

    <br>
    <br>

    <div>
        {% for memberItem in MemberList %}
            <div>
                <b>NAME</b><br><span><span>{{ memberItem.famillyname }}</span>/{{ memberItem.name }}</span>
            </div>
            <div>
                <b>Email</b><br><span>{{ memberItem.email }}</span>
            </div>
            <div>
                <b>GitHub</b><br><span>{{ memberItem.github }}</span>
            </div>
            <div>
                <b>契約区分</b><br><span>{{ memberItem.division }}</span>
            </div>

            <hr>
        {% endfor %}
    </div>


</div>
{% endblock %}
